*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/binding-master/.idea/
/broadcast-listeners-master/.idea/
/calculator-master/.idea/
/exam-1-master/.idea/
/final_exam_test-master/.idea/
/Fragments-master/.idea/
/Pics-master/.idea/
/quiz_2-lazare_kvirtia/.idea/
/quiz_3-master/.idea/
/quiz_5.1-master/.idea/
/quiz_5.2-master/.idea/
/realtime-database-master/.idea/
/retrofit-master/.idea/
/shared-prefs-master/.idea/
/ticTac-master/.idea/
/wm-master/.idea/
